@import url(main.css);

/* -------------------------- Login/Signup ------------------------- */

.container{
    justify-content: center;
    margin: 5vh 10vw 0;
    padding: 5vw;
}

.inBox{
    width: 50%;
}

.container input{
    margin: 0.5vw;
    height: 50px;
    width: 100%;
    border: solid var(--VIOLETT);
}