@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;800&display=swap');

:root{
    --GUL:#ffeb3b;
    --GRÖN:#00e676;
    --CYAN:#00ffff;
    --ORANGE:#FF8507;
    --TURKOS:#009688;
    --GRÅ:#222222;
    --ROSA:#f50057;
    --VIOLETT:#673ab7;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

html{
    -webkit-text-size-adjust: 100%;
}

body{
    box-sizing: border-box;
    max-width: 100%;
}

.eventContainer{
    display:flex;
    justify-content: space-evenly;
}

/* -------------------------- General css ------------------------- */
.topBanner{
    width: 100%;
    height: 20vh;
    
}

.loggo{
    left: -1px;
    position: fixed;
    width: 20vw;
    top: 4vh;
    z-index: 2;
}

.btn{
    background-color: var(--GRÅ);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
}

.right, .left{
    width: 10vw;
    flex-direction: row;
}

.right{
    margin-left: auto;
}

a{
    text-decoration: none;
    color: black;
}

.left{
    margin-right: auto;
}

.GUL{
    background-color: var(--GUL);
}
.GRÖN{
    background-color: var(--GRÖN);
}
.CYAN{
    background-color: var(--CYAN);
}
.ORANGE{
    background-color: var(--ORANGE);
}
.TURKOS{
    background-color: var(--TURKOS);
}
.GRÅ{
    background-color: var(--GRÅ);
}
.ROSA{
    background-color: var(--ROSA);
}
.VIOLETT{
    background-color: var(--VIOLETT);
}
.VIT{
    background-color: white;
}

.GUL_TXT{
    color: var(--GUL);
}
.GRÖN_TXT{
    color: var(--GRÖN);
}
.CYAN_TXT{
    color: var(--CYAN);
}
.ORANGE_TXT{
    color: var(--ORANGE);
}
.TURKOS_TXT{
    color: var(--TURKOS);
}
.GRÅ_TXT{
    color: var(--GRÅ);
}
.ROSA_TXT{
    color: var(--ROSA);
}
.VIOLETT_TXT{
    color: var(--VIOLETT);
}
.VIT_TXT{
    color: white;
}